{% extends 'inquire.html' %}
{% block content2 %}
<!-- Page content-->
<section class="py-5">
    <div class="container px-5">
      <!-- Contact form-->
      <div class="bg-grey py-5 px-10">
        <div class="text-center mb-5">
          <h2 class="fw-bolder">간편 상담 신청</h2>
          {% block content3 %}
          <p class="lead fw-normal text-muted mb-0">음식점 전문 상담사를 연결해 드릴게요 ! </p>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-sm-10 col-lg-10">
              <form action="/inquire_process" method="post"> 
                <div class="form-group px-2" data-bs-toggle="buttons">
                  <label for="input_radio" class="form-label"><h5> 필요한 물품을 선택해주세요! <span style="color: teal; font-size:x-large;" >*</span></h5></label>
                   <div class="form-control mb-3">
                    <div class="form-check-inline">
                      <label><input type="checkbox" name="checkOptions" value="냉장고" required> 냉장고 &emsp;</label>
                      <label><input type="checkbox" name="checkOptions" value="식기세척기"> 식기세척기 </label>
                      {% endblock %}
                    <!-- 체크 안되면 체크해달라는 문구가 뜨게 해야함. 데이터가 올바르게 디비에 전송되는지 확인해야함. -->
                    </div>
                  </div> 
  
                  <!-- <div class="form-check mb-4">
                    <input type="checkbox" class="btn-check" id="btn-check1" name="checkOptions">
                    <label class="btn" for="btn-check1">에어컨</label>
                    <input type="checkbox" class="btn-check" id="btn-check2" name="checkOptions">
                    <label class="btn" name="checkOptions" for="btn-check2">냉장고</label>
                  </div> 버튼으로 꾸미고 싶었지만 실패-->
{% endblock %}
