{% extends 'index.html' %}
{% block content1 %}
    <div class="collapse navbar-collapse justify-content-end" id="myNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notice" role="button">Notice</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control p-0 me-2" type="search" placeholder=" " aria-label="Search">
        <button class="btn-light" type="submit">🔍︎</button>
      </form>
    </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <span><em>렌탈을 쉽게 시작하는 곳</em></span>
    <h1 class="display text-with-gradient"><strong>Rentalstart</strong></h1>
    <p>렌탈스타트 | 렌탈의모든 것</p>
    <p>&#128315; &#128071; &emsp; &#128071; &emsp; &#128071; &#128315;</p>
    <a class="text-center" href="/inquire" role="button">
      <button type="button" class="btn btn">간편상담신청하기</button>
    </a>
  </div>

   <!-- Container (About Section) -->
   <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h2>공지사항</h2><br>
        <div class="card-title shadow border-0 rounded-3 mb-3 p-2 text-center"><br>
          <h5>✳️ Rentalstart에 대한 공지사항을 알려드려요.</h5><br>
          <div class="container my-3">

            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    #1 렌탈스타트를 이용하는 절차가 어떻게 되나요? 
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>렌탈스타트는.</strong> 아주 간단 편리 굿 <code> 빠릅니다 </code> 상담을 통해 이용해보세요.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    #2  개인정보는 어떻게 처리되나요 
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>T테스트테스트.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    #3 대출인가요? 
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>테스트테스트.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                </div>
              </div>
            </div>


            <!-- <table class="table">
                <thead>
                <tr class="table-dark">
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일시</th>
                </tr>
                </thead>
                <tbody>

               {% if question_list %}  전달받은 질문 목록 데이터 question_list가 있는지 검사한다.
                {% for question in question_list %} 저장된 데이터를 하나씩 꺼내 question 객체에 대입
                <tr>
                    <td>{{ loop.index }}</td> 1부터 1씩 증가
                    <td>
                        <a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a>
                    </td>
                    <td>{{ question.create_date }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">질문이 없습니다.</td>
                </tr>
                {% endif %} 분기문 태그 끝

                <tr>
                  <td>1</td>
                  <td>렌탈스타트를 이용하는 절차가 어떻게 되나요?</td>
                  <td>2023.10.01</td>
                </tr>




                </tbody>
            </table> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--스크롤 따라다니는 채팅 상담 연결-->
  <div class="quickmenu">
    <ul>
      <li> <a href="https://open.kakao.com/me/eunzgi" target="_blank">
          <img src="{{ url_for('static', filename='img/kakaotalk.jpg') }}" width="50" height="50"> </a>
      </li>
      <li>
        <h4>카카오톡<br>채팅 상담</h4>
      </li>
    </ul>
  </div>
  {% endblock %}
  </body>
  </html>
  